<?xml version="1.0" encoding="utf-8"?>
<!--
  Azure App Service Web.config
  Enables Node.js routing and compression
-->
<configuration>
  <system.webServer>
    <!-- Enable compression for server responses -->
    <urlCompression doStatic="true" doDynamic="true" />
    
    <!-- Configure IIS Application Request Routing (ARR) to Node.js app -->
    <iisnode nodeProcessCommandLine="&quot;%ProgramW6432%\nodejs\node.exe&quot; src/server.js" />
    
    <rewrite>
      <rules>
        <!-- Don't interfere with requests to node.js -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^src/server.js" />
        </rule>
        
        <!-- All other URLs are routed to Node.js app -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="src/server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Static files have MIME types, no compression needed for .exe -->
    <staticContent>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
</system.webServer>
</configuration>
